tracker-app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

    main#app-content {
        position: relative;
        display: flex;
        z-index: 9;
        width: 100%;
    }

    ion-button {
        height: 100%;
    }

    ion-avatar img {
        height: 36;
        width: auto;
        display: block;
      }
}